:root {
  --main-color: white;
  --main-bg-color: #424651;
  --sc-btn-color: #f8f9fa;
  --sc-btn-hover-color: #f8f9facb;
  --fhd-btn-color: #007bff;
  --fhd-btn-hover-color: #0069d9;
  --hd-btn-color: #fd7424;
  --hd-btn-hover-color: #ff5100;
  --loader-color: #3498db;
  --modal-bg-color: rgba(0, 0, 0, 0.5);
  --modal-event-color: rgba(241, 0, 0, 0.849);
}

.btn-white {
  background-color: var(--sc-btn-color);
}
.btn-white:hover {
  background-color: var(--sc-btn-hover-color);
  cursor: pointer;
}

.btn-blue {
  background-color: var(--fhd-btn-color);
}
.btn-blue:hover {
  background-color: var(--fhd-btn-hover-color);
  cursor: pointer;
}

.btn-orange {
  background-color: var(--hd-btn-color);
}
.btn-orange:hover {
  background-color: var(--hd-btn-hover-color);
  cursor: pointer;
}
