body {
  color: var(--main-color) !important;
  background-color: var(--main-bg-color) !important;
  padding-left: 0.5rem;
}

/* MAIN COMPONENT */
.container-fluid {
  font-size: large !important;
  font-family: "Courier New", Courier, monospace;
}
#main {
  display: flex;
  flex-direction: row;
}

/* LINKS */
a:link {
  text-decoration: none;
}

/* NAVIGATION */
.first-nav {
  margin-top: 15px;
}
.nav-link {
  cursor: pointer;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 2px var(--main-color) solid;
  font-size: 30px;
}
.nav-link:hover {
  background-color: var(--main-color);
}
#navigation {
  top: 0;
  position: sticky;
  align-self: flex-start;
}
